[package]
name = "iroh-car"
authors = ["dignifiedquire <me@dignifiedquire.com>"]
description = "Implementation the car files for iroh"
version = "0.2.1"
edition = "2021"
license = "Apache-2.0/MIT"
rust-version = "1.65"
repository = "https://github.com/n0-computer/iroh-car"

[dependencies]
anyhow = "1"
cid = "0.10"
futures = "0.3"
integer-encoding = { version = "3", features = ["tokio_async"] }
libipld = { package = "libipld", version = "0.16", features = ["dag-cbor", "derive"] }
libipld-cbor = { package = "libipld-cbor", version = "0.16" }
thiserror = "1"
tokio = { version = "1", features = ["io-util"] }

[dev-dependencies]
multihash = "0.18"
tokio = { version = "1", features = ["macros", "sync", "rt", "fs", "io-util"] }

[features]
default = []
